{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="/css/.css">{% endblock %}
{% block title %}{% endblock %}

{% block body %}

<br>
<div class="container">

<h1>Modifier un article !</h1>
<br>

    {% form_theme formproduit 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formproduit) }}

    <label for="">Nom du produit</label>
    {{ form_widget(formproduit.nomProduit, {'attr': {'placeholder': "Nom du produit ici"}}) }}
    <br>
    <label for="">Prix du produit</label>
    {{ form_widget(formproduit.prixProduit, {'attr': {'placeholder': "Entrer le prix"}}) }}
    <br>
    {# <label for="">Catégorie(s) du produit</label>
    {{ form_widget(formproduit.Categorie, {'attr': {
        'class': "categoproduit selectpicker", 'data-live-search': "true", 'data-size': "5"}}) }}
    <br><br>
    <label for="">Matière(s) du produit</label>
    {{ form_widget(formproduit.Materiel, {'attr': {
        'class': "matproduit selectpicker", 'data-live-search': "true", 'data-size': "5"}}) }}
    <br><br>
    <label for="">Marque du produit</label>
    {{ form_widget(formproduit.Marque, {'attr': {'placeholder': "Entrer la marque"}}) }}
    <br> #}
    <label for="">Description du produit</label>
    {{ form_widget(formproduit.descriptionProduit, {'attr': {'placeholder': "Une description"}}) }}
    
    <br><br><br>
    <center>
    <button type="submit" class="btn btn-warning">Mettre à jour le produit !!</button>
    </center>

    {{ form_end(formproduit) }}

</div>
<br><br>

{% endblock %}

{# {% block javascripts %}
<script>
    $('.categoproduit').selectpicker();
    $('.matproduit').selectpicker();
</script>
{% endblock %} #}