{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/awesome-bootstrap-checkbox.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}{% endblock %}

{% block body %}
<div class="container">
  <br>
  <h1>Boutique de réservations</h1>
  <h5>Vous pouvez commander vos articles pour les réserver puis ensuite venir les chercher directement à la boutique :)</h5>
</div>
<hr>
<h5 class="ml-3"><strong style="text-decoration: underline;">Filtrer vos recherches:</strong></h5>

<!--c'était la navbar stylé-->

{# <div class="navbare">
  <div class="dropdowne">
    <button class="dropbtne">Bijouterie 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdowne-content">
      <a href="#">Bagues</a>
      <a href="#">Boucles d'oreilles</a>
      <a href="#">Bracelets</a>
      <a href="#">Chaînes</a>
      <a href="#">Colliers</a>
      <a href="#">Pendentifs</a>
      <a href="#">Boutons de manchettes</a>
      <a href="#">Broches</a>
    </div>
  </div> 
  <div class="dropdowne">
    <button class="dropbtne">Horlogerie 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdowne-content">
      <a href="#">Montres</a>
      <a href="#">Réveils</a>
      <a href="#">Horloges</a>
    </div>
  </div> 
  <div class="dropdowne">
    <button class="dropbtne">Maroquinerie 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdowne-content">
      <a href="#">Sacs</a>
    </div>
  </div>
  <div class="dropdowne">
    <button class="dropbtne">Matériaux 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdowne-content">
      <a href="#">Or</a>
      <a href="#">Argent</a>
      <a href="#">Acier</a>
      <a href="#">Plaqué</a>
    </div>
  </div>
  <div class="dropdowne">
    <button class="dropbtne">Marques 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdowne-content">
      {% for mdr in marques %}
        <a href="#">{{ mdr.nomMarque }}</a>
      {% endfor %}
    </div>
  </div> 
</div> #}

<form action="{{ path('filter') }}" name="filtres" method="POST">
  <div class="d-flex flex-wrap">  
    {# {% for key, mdr in categories|slice(0,12) %} ici c'était pour tricher avec les matériaux avant #}
    {% for mdr in categories %}
    <div class="checkbox checkbox-warning">
      <input id="{{ mdr.nomCategorie }}" type="checkbox" class="styled" name="filtrecat[]" value="{{ mdr.id }}"
      {% if lastCategories is defined and lastCategories is not empty %} {# pour que les box restent checked #}
        {% for gianni in lastCategories %}
          {% if gianni == mdr %} {# Si la categorie est égale à l'une des categories qu'on a choisi #}
            checked
          {% endif %}
        {% endfor %}
      {% endif %}
      >
      <label for="{{ mdr.nomCategorie }}">
        {{ mdr.nomCategorie }}
      </label>
    </div>
    {% endfor %}
  </div>

    {# {% for key, mdr in categories %}
      {% if key > 11 %} ici la suite de l'ancienne triche materiaux #}  

  <h5 class="ml-3"><strong style="text-decoration: underline;">Filtrer par marques:</strong></h5>

  <div class="d-flex flex-wrap">
    {% for mdr in marques %}
    <div class="checkbox checkbox-warning">
      <input id="{{ mdr.nomMarque }}" type="checkbox" class="styled" name="filtremarq[]" value="{{ mdr.id }}"
      {% if lastMarques is defined and lastMarques is not empty %} {# pour que les box restent checked #}
        {% for gianni in lastMarques %}
          {% if gianni == mdr %} {# Si la categorie est égale à l'une des categories qu'on a choisi #}
            checked
          {% endif %}
        {% endfor %}
      {% endif %}
      >
      <label for="{{ mdr.nomMarque }}">
        {{ mdr.nomMarque }}
      </label>
    </div>
    {% endfor %}
  </div>

  <h5 class="ml-3"><strong style="text-decoration: underline;">Filtrer par matières:</strong></h5>

  <div class="d-flex flex-wrap">
    {% for mdr in materiaux %}
    <div class="checkbox checkbox-warning">
      <input id="{{ mdr.nomMateriel }}" type="checkbox" class="styled" name="filtremat[]" value="{{ mdr.id }}"
      {% if lastMat is defined and lastMat is not empty %} {# pour que les box restent checked #}
        {% for gianni in lastMat %}
          {% if gianni == mdr %} {# Si la categorie est égale à l'une des categories qu'on a choisi #}
            checked
          {% endif %}
        {% endfor %}
      {% endif %}
      >
      <label for="{{ mdr.nomMateriel }}">
        {{ mdr.nomMateriel }}
      </label>
    </div>
    {% endfor %}
  </div>
  
  <center><button type="submit" class="btn btn-warning">Valider</button></center>
  
</form>
  
<hr>
    
<p class="px-3">
  <b>{{ nombre }}</b> résultats trouvés
</p>

    <div class="proticles">
        {% for produit in produits %}

        <div class="card border-warning mb-3 cardbij" style="width: 25rem; height: 660px">
            <div class="card-header">{{ produit.nomProduit }}</div>
            <div class="card-body" style="height: 600px; overflow: auto;">
            {% for categbadg in produit.categorieProduit %}
            <span class="badge badge-danger">{{ categbadg.nomCategorie }}</span>
            {% endfor %}
            {% for matbadg in produit.materiel %}
            <span class="badge badge-warning">{{ matbadg.nomMateriel }}</span>
            {% endfor %}
            <img src="/imag/{{ produit.imagProduit }}" alt="" class="lolol" width="100%" style="height: 324px">
            {% if produit.marque is not null %}
            <span class="badge badge-info">{{ produit.marque.nomMarque }}</span>
            {% endif %}
            <p align="center">{{ produit.prixProduit }} €</p>
            <p class="card-text">{{ produit.descriptionProduit }}</p>
            </div>
            <div class="card-footer">
            {% if app.user %}
            {% if app.user.ajoutPan(produit) %}
            <center><button data-url="{{ path('deletpropan', {'id': produit.id}) }}" class="btn btn-danger deletpropan">Retirer du Panier</button></center>
            <center class="d-none"><button data-url="{{ path('ajouter_produit', {'id': produit.id}) }}" class="btn btn-secondary ajoutpan">Ajouter au Panier</button></center>
            
            {% else %}
            <center><button data-url="{{ path('ajouter_produit', {'id': produit.id}) }}" class="btn btn-secondary ajoutpan">Ajouter au Panier</button></center>
            <center class="d-none"><button data-url="{{ path('deletpropan', {'id': produit.id}) }}" class="btn btn-danger deletpropan">Retirer du Panier</button></center>
            
            {% endif %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <br>
            <a class="btn btn-light" style="border: 1px solid rgba(0, 0, 0, 0.15)" href="{{ path('modifproduit', {'id': produit.id}) }}">Modifier</a>
            <a class="btn btn-light" style="cursor: pointer; border: 1px solid rgba(0, 0, 0, 0.15)" data-toggle="modal" data-target="#confirm-{{produit.id}}">Supprimer</a>

              <!-- Modal -->

<div class="modal fade" id="confirm-{{produit.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir supprimer ce produit ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {# <div class="modal-body">
        ...
      </div> #}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <a type="button" class="btn btn-danger" href="{{ path('deleteproduit', {'id': produit.id}) }}">Supprimer</a>
        
      </div>
    </div>
  </div>
</div>

            {% endif %}
            </div>
        </div>

        {% else %}
        Aucun produit
        {% endfor %}

    </div>
    {% if lastCategories is defined and lastMarques is defined and lastMat is defined %}
      


    {% endif %}
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('shop', {'page': page - 1}) }}">&laquo;</a>
            </li>
            {% for i in 1..pages %}
            <li class="page-item {% if page == i %}active{% endif %}">
            <a class="page-link" href="{{ path('shop', {'page': i}) }}">{{ i }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{ path('shop', {'page': page + 1}) }}">&raquo;</a>
            </li>
        </ul>
    </div>


   
{% endblock %}