{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="/css/shop.css">{% endblock %}
{% block title %}{% endblock %}

{% block body %}

<h1>L'HEURE ET L'OR</h1>
<hr>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div align="center" class="" id=""><!--id="navbarColor02"-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Or</a>
            </li>
            <li class="nav-item">   
                <a class="nav-link btn-outline-warning"><!--"btn btn-outline-warning"-->>Argent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Montres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Bracelets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Colliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Boucles d'oreilles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bagues</a>
            </li>
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
                <div class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
        </ul>
    </div>
</nav>
    
    <div class="proticles">

        {% for produit in produits | reverse %}

        <div class="card border-warning mb-3 cardbij" style="width: 25rem;">
            <div class="card-header">{{ produit.nomProduit }}</div>
            <div class="card-body">
            <img src="/imag/{{ produit.imagProduit }}" alt="" width="100%">
            <p align="center">{{ produit.prixProduit }} €</p>
            <p class="card-text">{{ produit.descriptionProduit }}</p>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('modifproduit', {'id': produit.id}) }}">Modifier</a>
            <a href="{{ path('deleteproduit', {'id': produit.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')">Supprimer</a>
            {% endif %}
        </div>

        {% else %}
        Pas d'article
        {% endfor %}

    </div>

    <div class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
          </li>
        </ul>
      </div>
   
{% endblock %}